//== Colors

$color-primary: #1FAEDB;
$color-secondary-bk: #F2F2F2;
$color-dark: #000;
$color-redish: #FF3E5B;
$color-icon: #1FAEDB;
$color-icon-text: #5D5D5D;
$color-sub-text: #616161;
$color-text: #3E3E3E;
$color-input-bk: #F5F5F5;

$color-btn-primary: #111111;
$color-footer-primary: #111111;


// fonts
$font-primary: 'PT Sans', sans-serif;

$font-weight-bold: 700; 

$font-size-primary: 14px;
$font-size-heading: 24px;