@import "bootstrap-compass";
@import "bootstrap-variables";
@import "variables";
@import "bootstrap";

// fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

/* Website styles */
body {
	// background: $color-primary;
	font-family: $font-primary;

	&.scrolling {
		#top-header {
			position: fixed;
	    	width: 100%;
	    	z-index: 99999;
	    	background: #fff;
	    	top: 0;
		}
		#hero {
			margin-top: 111px;
		}
	}

	img {
		max-width: 100%;
	}
}

.btn {
	border-radius: 0px;
	border: none;
	padding: 10px 0;

	&.btn-primary {
		background: $color-btn-primary;

		&:hover {
  			transition: 0.3s;
			background: $color-primary;
		}
	}
}

section {
	padding: 40px 0;
}

header {
	background: #fff;
	box-shadow: 0 -15px 15px 8px rgba(48,52,65,.5);
	&.sticky {
		visibility: visible !important;
    	transform: translate(0, 0) scale(1) !important;
    	transition: 0.3s;
	}
	&.fixed {
		visibility: hidden;
		transform: translate(0, -100%) scale(1);
		//transition: 0.3s;
		.custom-navbar {
			 // margin-top: 0px;
			 // padding: 0;
    // 		transition: 0.3s;
		}
	}
	.custom-navbar {
		margin: 0;
		background: #fff;
		border-color: #fff;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-nav {
		float: right;
		margin-right: -15px;
		li > a {
			font-weight: $font-weight-bold;
			font-size: 13px;
			text-transform: uppercase;
			color: $color-dark !important;
			padding: 35px 25px;

			.active {
				background: #fff;
				color: $color-primary;			
			}
		}
		li:last-child a {
			padding-right: 0px;
		}
	}

	.navbar-brand {
		margin-left: -30px !important;
		img {
			height: 60px;
		}
	}

	// nav override dersign
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background: #fff;
		color: $color-primary !important;	
	}
}

#hero {
	background: url('../images/hero-background.jpg')  no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 80px 0;
	text-align: center;
	
	.hero-caption-wrapper {
		padding-top: 16%;
	}

	.hero-caption {
		text-align: center;
		h1 {
			font-size: 28px;
			display: inline-block;
		    background-color: $color-primary;
		    text-transform: uppercase;
		    color: #fff;
		    padding: .4em .74em;
		    font-weight: $font-weight-bold;
		}
	}

	.hero-subcaption {
		text-align: center;
		margin-top: 10px;
		color: #fff;
		font-size: 17px;
		font-weight: 400;
	}
}

// section styles
.section-heading {
	margin-bottom: 40px;
	h1 {
		font-size: $font-size-heading;
		color: $color-dark;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
	}
	span {
		color: $color-sub-text;
		font-size: $font-size-primary;
	}
}

// featured section
#featured-section {

  position: relative;

}

// featured card
.card-wrapper {

	// box-shadow: 0px 1px 9px #888888;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;

	.card-img {
		background: url('../images/featured.jpg')  no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 110px 0;
		text-align: center;
		position: relative;

		span {
			background: $color-redish;
			position: absolute;
			right: 0;
			bottom: -10px;
			color: #fff;
			text-transform: uppercase;
			padding: 5px 10px;
			cursor: pointer;
			font-size: 13px;
		}
		i {
			margin-right: 8px;
			font-size: 17px;
		}
	}

	h3, a {
		font-size: 18px;
		line-height: 27px;
		font-size: 17px;
		font-weight: $font-weight-bold;
		color: $color-dark;
		text-decoration: none;
	}

	p {
		font-size: 14px;
		color: $color-sub-text;
	}

	.card-body {
		padding: 10px 20px 20px 20px;
	}

	.icons-list {
		margin: 20px 0;
		color: $color-icon-text;
		font-weight: $font-size-primary;
		font-size: 13px;
		span {
			margin-right: 10px;
		}
		i {
			margin-right: 5px;
			color: $color-icon;
		}
	}

	.card-footer {
		margin-top: 20px;
	}

	.btn {
		width: 100%;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		margin-bottom: 5px;
	}
}

// devider
.devider-back {
	padding: 40px;
	background: $color-primary;

	p {
		display: inline-block;
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: bold;
		letter-spacing: 1.2px;
	}
	a.btn-white,
	a.btn-black {
		margin-bottom: 0;
	    background: #fff;
	    padding: 15px 30px;
	    text-transform: uppercase;
	    text-decoration: none;
	    font-weight: $font-weight-bold;
	    color: #000;
	    font-size: 13px;
	    letter-spacing: 1.2px;
	}
	a.btn-black {
		margin-left: 20px;
		background: #000;
		color: #fff;
	}
	.right-sec {
		float: right;
		display: inline-block;
	}
}

// service section
#services {

	padding: 40px;
	position: relative;
	background: url('../images/services_bk.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.bk {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.24;
	}

	.service-item {
		padding: 30px;
		background: #fff;
		text-align: center;
		margin: 30px;
	}

	img {
		width: 75px;
	}

	h4 {
		margin: 15px;
		font-weight: $font-weight-bold;
		font-size: 16px;
		color: $color-dark;
	}
	p {
		padding: 0 10px;
		color: $color-sub-text;
		line-height: 22px;
	}

	h2 {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-size: 26px;
		font-weight: $font-weight-bold;
	}
}

// footer
#footer {
	padding: 40px 0;
	background: $color-footer-primary;

	.col-md-3 {
		// padding: 0 20px;
	}

	h3 {
		color: #fff;
		margin-bottom: 25px;
		font-size: 16px;
		font-weight: $font-weight-bold;
	}

	p {
		color: #fff;
		font-style: italic;
		font-size: $font-size-primary;
	}

	.citem {
		position: relative;
		display: block;
		font-size: $font-size-primary;
		font-weight: $font-weight-bold;
	}
	.iitem,
	.iitem-i {
    	vertical-align: top;
		margin-top: 10px;
		color: #fff;
		display: inline-block;
	}
	.iitem-i {
		margin-top: 12px;
		margin-right: 10px;
	}

	.links a {
		font-weight: $font-weight-bold;
		color: #fff;
		display: block;
		margin: 10px 0;
		text-decoration: none;
	}
	form {
		margin-top: 15px;
		position: relative;

		div {position: relative;display: inline-block;}
	}
	input[type="email"] {
		border: none;
		padding: 8px 15px;
		outline: none;
		width: 260px;
		display: inline-block;
	}
	button {
	    position: absolute;
	    top: 0;
	    right: 0;
	    border: none;
	    background: $color-primary;
	    color: #fff;
	    padding: 6px 15px;
	    font-size: 17px;
	}

}

// copyright
#copyright {
	padding: 20px;
	background: #000;
	position: relative;

	.to-top-arrow {
	    position: absolute;
		right: 10%;
		top: -16px;
	    background: #1faedb;
	    padding: 5px 8px;
	    float: right;
	    color: #fff;
	    margin-bottom: -10px;
	    cursor: pointer;
	}

	p {
		display: inline-block;
		margin-bottom: 0;
		font-size: 13px;
		font-style: italic;
		color: #fff;
	}

	a {
		font-weight: $font-weight-bold;
		text-decoration: none;
	}
}

// Blog section
.blog-title {
	text-align: center;
	// background: $color-secondary-bk;
	margin-bottom: 30px;
	h1 {
		font-size: 26px;
		font-weight: $font-weight-bold;
		color: $color-dark;
		margin-bottom: 20px;
	}

	.location {
		// font-weight: $font-weight-bold;
		font-size: 14px;
		color: $color-icon-text;
	}

	.sale-btn {
		background: $color-primary;
		color: #fff;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		padding: 5px 15px;
		margin-left: 10px;
		font-size: 13px;
		cursor: pointer;
	}
}


.blog-page {
	position: relative;
	.price-nd-btn {
		margin-top: 10px;
		.price,
		.bttn-s {
			display: inline-block;
		}

		.bttn-s {
			float: right;
			text-transform: uppercase;
			font-size: 13px;
		    background: $color-redish;
		    color: #fff;
		    padding: 9px 30px;    
		    margin-top: 20px;
		    cursor: pointer;
		    font-weight: $font-weight-bold;
		}
		.price h3 {
			position: relative;
			font-weight: $font-weight-bold;
			font-size: 30px;
			color: $color-dark;
		}
		.price .ix {
			font-size: 13px;
			margin-top: -3px;
			position: absolute;
			margin-left: 10px;
			font-weight: 100;
			background: #888888;
			color: #fff;
			padding: 2px 5px;
		}
	}

	.key-details {
		border-bottom: 1px solid $color-secondary-bk;
		// border-top: 1px solid $color-secondary-bk;
		// margin-top: 10px;
		padding: 30px 0;
		// padding: 10px 10px;
		// background: $color-secondary-bk;
		color: $color-icon-text;
		font-size: 14px;
		margin-bottom: 30px;
		margin-top: -10px;   
		 padding-bottom: 20px;

		ul {
			list-style: none;
			margin-bottom: 0;
    		margin-left: -8px;
		}
		li {
			display: inline-block;
			margin: 10px;
			margin-right: 25px;
			width: 20%;
		}

		i {
			margin-right: 10px;
			color: $color-primary;
			font-size: 35px;
		}
		span {

		}

		.loc {
			text-transform: uppercase;
		}
		.icc {
			font-weight: $font-weight-bold;
		}

		.rigt-text {
			display: inline-block;
		}
	}

	p {
		color: $color-text;
		text-align: justify;
	}

	.devider {
		border-top: 1px solid $color-secondary-bk;
		margin: 30px 0;
	}

	.place-nearby {
		// padding: 10px 0;
	}

	h4 {
		font-weight: $font-weight-bold;
		font-size: 18px;
	}
	.lft {
		display: inline-block;
	}
	.heading-p {
		margin-bottom: 30px;
	}
	.p-name {
		font-weight: $font-weight-bold;
		color: $color-dark;
		font-size: 15px;
		display: block;
		margin-bottom: 5px;
	}
	.p-distance {
		display: inline-block;
		float: right;
		vertical-align: top;
		font-weight: $font-weight-bold;
	}

	ul {
		padding: 0;
		list-style: none;
	}
	li {
		margin-bottom: 30px;
	}
}

.contact-info-blog {
	padding: 20px;
	border: 1px solid #efefef;
	// box-shadow: 0 0 10px #e2e2e2;
	.pic-info {
		float: left;
		height: 90px;
		width: 90px;
		img {
			border-radius: 50%;
			margin-right: 20px;
		}
	}
	.contact-i {
		p, h4, a {
			font-weight: $font-weight-bold;
			color: $color-dark;
			text-decoration: none;
		}
		p {
			font-size: 14px;
		}
		h4 {
			font-size: 18px;
			margin-bottom: 20px;
		}
		i {
			color: $color-primary;
			font-size: 14px;
			margin-right: 10px;
		}
	}
}

// sidebar
.widget {
	margin: 40px 0;
	.widget-title {
		font-weight: $font-weight-bold;
		color: $color-dark;
		font-size: 20px;
		margin-bottom: 20px;
	}
	.img-cover {
		width: 100%;
		height: 250px;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
		position: relative;

	}

	.sale-btn {
		background: $color-primary;
		color: #fff;
		font-size: 13px;
		padding: 5px 10px;
		display: inline-block;
		text-transform: uppercase;
		margin: 20px;
		float: right;	
		font-weight: $font-weight-bold;
	}

	.price-sqft-wrpr {
		margin: 20px;
		position: absolute;
		bottom: 0;
		.price {
			color: $color-primary;
			font-weight: $font-weight-bold;
			font-size: 22px;
			margin-bottom: 2px;
		}
		.sqft {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			// font-weight: $font-weight-bold;
		}
	}
	.bottom-sec {
		padding: 5px 20px;
		padding-bottom: 10px;
		background: $color-secondary-bk;
		h3 {
			margin-top: 10px;
		}
		h3 a {
			margin-top: 0;
			font-weight: $font-weight-bold;
			color: $color-dark;
			font-size: 16px;
			text-decoration: none;
		}
		i {
			margin-right: 10px;
			color: $color-primary;
			font-size: 16px;
		}
		p {
			color: $color-icon-text;
		}
	}

	&.recent-widget {
		li {
			position: relative;
		}
		.img-sec {
			width: 35%;
			display: inline-block;
			height: 100px;
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
		.right-s {
			display: inline-block;
    		padding-left: 20px;
			vertical-align: top;
			width: 60%;
		}
		.loc {
			color: $color-primary;
			font-size: 14px;
		}
		.title {
			font-size: 16px;
			margin: 10px 0;
			a {
				color: $color-dark;
				font-weight: $font-weight-bold;
				text-decoration: none;
			}
		}
		.price {
			color: $color-icon-text;
		}
	}

	&.subscribe {
		&.subscribe {
			padding: 20px;
			box-shadow: 0 0 10px #e2e2e2;
		}
		input[type="text"],
		input[type="number"],
		textarea {
			padding: 10px 20px;
			background: $color-input-bk;
			outline: none;
			border: none;
			font-size: 13px;
			width: 100%;
			margin: 10px 0;

			&::placeholder {
				color: #C4C4C4;
			}
		}

		.btn-subs {
			background: $color-primary;
			color: #fff;
			margin-top: 10px;
			padding: 10px 30px;
			width: 100%;
			margin-bottom: 20px;
			font-size: 13px;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}
		.widget-title {
			text-align: center;
		}
	}

}